[submodule "back"]
	path = back
	url = https://github.com/inesenrq29/ressource-relationnelle-back.git
[submodule "front"]
	path = front
	url = https://github.com/inesenrq29/ressource-relationnelle-front.git
